.jumbotron {
    color: white;
    background-image: url("https://cdnimg.webstaurantstore.com/images/products/large/166502/1501183.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
.white {
    color: white;
}